

.order-details {
    font-size: 19px;
    margin: 10px;
    font-weight: 600;
}

.total-savings{
    color: green;
}

.purchase-button {
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    &:hover {
        background-color: rgb(56, 173, 56);
    }
}

.delivery-container {
    display: block;
    font-size: 17px;
}

input {
    margin: 8px;
}