.product-container {
    height: auto;
    max-height: 450px;
    justify-content: center;
    align-items: center;
    img {
        max-height: 225px;
    }
}



.button{
    width: 60%;
    height: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px auto;
    &:hover {
        background-color: rgb(223, 141, 141);
    }
}

.sidebars {
    display: flex;
}

.left-sidebar {
    width: 70%;
}

.right-sidebar {
    margin-left: 50px;
}
