.product-container {
    height: 310px;
    justify-content: center;
    align-items: center;
}

.button{
    width: 60%;
    height: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px auto;
    &:hover {
        background-color: rgb(223, 141, 141);
    }
}