<app-header></app-header>
<h1>Résumé de votre panier</h1>
<div class="sidebars">
    <div class="left-sidebar">
        @for (item of cart; track item.product) {
            <div class="product-container">
                    <img [src]="item.product.imgUrl" alt="">
                    <h3>{{item.product.name}}</h3>
                <div>Prix unitaire: {{item.product.price | number: "1.0-2"}} €</div>
                <p>Quantité : {{ item.quantity }}</p>
                <div><b>Vous économisez {{getSavings(item.product.id!) | number: "1.0-2"}} € </b></div>
                <button class="button" (click)="removeFromCart(item.product.id!)">Rétirer du panier</button>
            </div>
        }
    </div>
    <div class="right-sidebar">
        <app-order-summary></app-order-summary>
    </div>
</div>