.product-container {
    height: 400px;
    justify-content: center;
    align-items: center;
    img {
        height: 168px;
    }
}



.button{
    width: 60%;
    height: 40px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px auto;
    &:hover {
        background-color: rgb(223, 141, 141);
    }
}

.sidebars {
    display: flex;
}

.left-sidebar {
    border-top: 1px solid rgba(145, 145, 145, 0.397);
    border-right: 1px solid rgba(145, 145, 145, 0.397);
    border-bottom: 1px solid rgba(145, 145, 145, 0.397);
    border-radius: 10px;
    width: 60%;
    padding-right: 25px;
}

.right-sidebar {
    padding-left: 25px;
    border-top: 1px solid rgba(145, 145, 145, 0.397);
    border-left: 1px solid rgba(145, 145, 145, 0.397);
    border-bottom: 1px solid rgba(145, 145, 145, 0.397);
    border-radius: 10px;
}
