header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f8f3e8;
    border-bottom: 1.5px solid #333;
    border-right: 1.5px solid #333;
    border-left: 1.5px solid #333;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 70px;
    width: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.349);
}




a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19);
      height: 60px;

    }
  }

  
  .font-title {
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .title-container {
    width: 33%;
    text-align: left;
    align-items: left;
    justify-content: left;
  }

  .website-title {
    font-size: 50px;

  }

  
  .active {
    color: #666;
    text-decoration: underline;
  }


  .card-btn {
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
  }

  .svg-icon {
    height: auto;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-btn svg {
    width: auto;
    height: auto;
    transition: all 0.3s;
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }

  .cart-logo {
    width: 33%;
    text-align: right;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

nav {
  width: 33%;
  font-size: large;
  font-weight: 600;
}