header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #d7e4d4;
    border-bottom: 1.5px solid #333;
    border-right: 1.5px solid #333;
    border-left: 1.5px solid #333;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 70px;
    width: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.349);
}

a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .title-container {
    width: 33%;
    text-align: left;
    align-items: left;
    justify-content: left;
  }

  .website-title {
    font-weight: 700;
    font-size: 45px;

  }

  
  .active {
    color: #666;
    text-decoration: underline;
  }


  .card-btn {
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
  }
  
  .card-btn svg {
    height: 100%;
    transition: all 0.3s;
  }
  
  .card-btn:active {
    transform: translateY(3px);
  }

  .cart-logo {
    width: 33%;
    text-align: right;
  }

.cart-logo-quantity {
  position: relative;
  font-size: large;
  bottom: 3px;
}

nav {
  width: 33%;
  font-size: large;
  font-weight: 600;
}