<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
<header>
    <div class="title-container">
        <span class="website-title font-title">Crafty Store</span>
    </div>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
        <a routerLink="/products" routerLinkActive="active">Articles</a>
        <a routerLink="/cart" routerLinkActive="active">Catégories</a>
        
        <a routerLink="/cart" routerLinkActive="active">Contact</a>
    </nav>

    <div class="cart-logo">
        <div class="login-container">
            <button mat-button (click)="openLoginDialog()">Se connecter</button>
        </div>
        <button mat-button class="card-btn">
            <mat-icon class="svg-icon" routerLink="/cart" matBadge="{{getCartQuantity()}}" [matBadgeHidden]="hidden" svgIcon="cartIcon" aria-hidden="false" aria-label="Icon du panier"></mat-icon>
        </button>
    </div>
</header>
