<div class="product-container">
    <div class="img-container">
        <img [src]="product.imgUrl" alt="">
    </div>
    @if (product.retailPrice != product.price) {
        <div class="retail-price-info">Prix conseillé:  
            <span class="retail-price price">{{ product.retailPrice | number: "1.0-2"  }}</span>
            <span>€  <b>{{((product.price/product.retailPrice)-1) | percent}}</b></span>
        </div>}
         @else { <br>}
    <p class="product-name">{{ product.name }}</p>
    <p class="product-description">{{ product.description }}</p>
    <button class="button addtocart-button"
    (click)="addToCart(product)"> <b>{{ product.price | currency : "EUR" }}</b></button>
</div>