



.price {
    margin: 5px 5px;
}

.retail-price-info {
    font-size: 14px;
    margin: 5px 5px;
}

.retail-price {
    text-decoration: line-through;
    font-size: 14px;
}

h4 {
    margin: 0px;
    font-size: 18px;
}

.product-name {
    margin: 5px 5px;
    justify-content: center;
    font-weight:600;
}

.product-description {
    margin: 5px 5px;
    font-size: 14px;
    color: rgb(82, 81, 81);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
    height: 60px;
}

.addtocart-container {
    display: flex;
    justify-content:space-evenly;
    visibility: hidden;
    transition: 0.5s;
}

.addtocart-button {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    min-width: 70px;
    height: 35px;
    font-size:medium;

}

.product-container:hover .addtocart-container {
    visibility: visible;
}

.select-quantity {
    width: 110px;
    height: 30px;
}

.addedtocart {
    background-color: rgb(211, 228, 207);
    font-weight: 800;
}