<div class="product-container">
    <div class="img-container">
        <img [src]="product.imgUrl" alt="">
    </div>
    @if (product.retailPrice != product.price) {
        <div class="retail-price-info">Prix conseillé:  
            <span class="retail-price price">{{ product.retailPrice | number: "1.0-2"  }}</span>
            <span>€  <b>{{((product.price/product.retailPrice)-1) | percent}}</b></span>
        </div>}
         @else { <br>}
    <p class="product-name">{{ product.name }}</p>
    <p class="product-description">{{ product.description }}</p>
    <div class="addtocart-container">
        <button class="button addtocart-button"
        (click)="addToCart(product, selectedQuantity)"> <b>{{ product.price * selectedQuantity | currency : "EUR" }}</b></button>
        <mat-form-field class="select-quantity">
            <mat-label>Quantité</mat-label>
            <select matNativeControl required [(ngModel)]="selectedQuantity" name="selectedQuantity">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            </select>
        </mat-form-field>
    </div>
</div>