.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a::after {
    color: black;
  }



  .button {
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
    width: 150;
    border-radius: 10px;
    background-color: rgb(224, 189, 189);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


img {
  width: 800px;
  height: fit-content;
  display: flex;
  margin: 0 auto;
  z-index: -1;
}