
.landing-block1 {
    position: relative;
    background-image: url("../../../../public/assets/logoCraftyStore.png");
    background-attachment: fixed;
    width: 800px;
    height: 500px;
    border-radius: 26% 30% 40% 50%;
  }

  .landing-block2 {
    position: relative;
    margin: 30px auto;
    background-image: url("../../../../public/assets/candles-2993936_1280.jpg");
    background-attachment: fixed;
    width: 1000px;
    height: 500px;
    border-radius: 26% 30% 60% 20%;
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a::after {
    color: black;
  }

  header {
    z-index: 5;
  }


  .button {
    font-size: 20px;
    margin-top: 20px;
    height: 40px;
    width: 150;
    border-radius: 10px;
    background-color: rgb(224, 189, 189);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

img {
  height: 550px;
}

