<app-header></app-header>

<h1>Bienvenue sur Crafty Store,</h1>
<p> votre destination en ligne pour découvrir une large gamme de produits artisanaux uniques et faits avec soin. Explorez notre collection et laissez-vous inspirer par la créativité de nos artisans talentueux.</p>
<div class="landing-block1">
</div>
<h1>Bienvenue sur Crafty Store,</h1>
<p> votre destination en ligne pour découvrir une large gamme de produits artisanaux uniques et faits avec soin. Explorez notre collection et laissez-vous inspirer par la créativité de nos artisans talentueux.</p>
<div class="landing-block2">
</div>
<h1>Bienvenue sur Crafty Store,</h1>
<p> votre destination en ligne pour découvrir une large gamme de produits artisanaux uniques et faits avec soin. Explorez notre collection et laissez-vous inspirer par la créativité de nos artisans talentueux.</p>
<div class="landing-block3">
</div>
<div class="landing-block4">
</div>
<div class="landing-links">
  <button class="button" (click)="goToProducts()">Continuer vers Crafty Store</button>
</div>
