h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 35%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    td {
        border: 1px solid rgba(73, 72, 72, 0.555);
        padding: 5px 5px;
    }
    tr {
        padding: 5px 5px;
    }
    th {
        border: 1px solid rgba(73, 72, 72, 0.555);
        padding: 5px 5px;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
  }

  .order-recap {
    display: block;
    align-items: center;
    text-align: center ;
  }

  .info-toggle {
    display: none;
}

.box {
  margin: 20px auto;
}