<app-header></app-header>

<h1>Récapitulatif de votre commande</h1>

<div class="order-recap box">
  <table>
      <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix</th>
      </tr>
  @for (item of cart; track item.product.id) {

          <tr>
              <td>{{ item.product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.productPrice * item.quantity | number: "1.0-2" }} €</td>
          </tr>
      }
      <tr>
          <td>Livraison</td>
          <td></td>
          <td>{{getDeliveryOption()  | number: "1.0-2" }} €</td>
      </tr>
      <tr>
          <td></td>
          <td>Total: </td>
          <td>{{(getTotalOrderPrice() + getDeliveryOption()) | number: "1.0-2" }} €</td>
      </tr>
      </table>
</div>

<div class="box" [ngClass]="{ 'info-toggle': isClicked}">
    <form class="user-info-form">
      <legend><h3>Veuillez renseigner vos informations</h3></legend>
        <mat-form-field class="example-full-width">
            <mat-label>Votre nom</mat-label>
            <input matInput placeholder="Ex. Jean Daniel" required [(ngModel)]="userName" name="userName"> 
          </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Votre Email</mat-label>
          <input matInput placeholder="Ex. example@gmail.com" required [(ngModel)]="userEmail" name="userEmail"> 
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Votre adresse</mat-label>
          <textarea matInput placeholder="Ex. 12 Bd Jean Jaures 37000 Tours" required [(ngModel)]="userAddress" name="userAddress"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Moyen de paiement</mat-label>
            <select matNativeControl required [(ngModel)]="paymentMethod" name="paymentMethod">
              <option value="cb">Carte Bancaire</option>
              <option value="paypal">Paypal</option>
              <option value="metamask">Metamask</option>
            </select>
          </mat-form-field>

          <button class="submit button" (click)="createOrder()" >Valider mes informations et commander</button>
      </form>

</div>





<button routerLink="/orderslist" class="submit button">Show me orders</button>