h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    td {
        border: 1px solid rgba(73, 72, 72, 0.555);
    }
    th {
        border: 1px solid rgba(73, 72, 72, 0.555);
    }
}