
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

:root {
    @include mat.table-overrides((
      background-color: #d7e4d4,
    ));
  }

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */
* {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4A4A4A;
    margin-top: 0px;
}
@media (max-width: 768px) {
    .product-container {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .img-container {
        width: 100%;
        height: auto;
    }

    .button {
        width: 100%;
    }
}


 body, html{
    width: 85%;
    margin: 0 auto;
    justify-self: center;
}

body{
    background-color: #d7e4d4;
}

.product-container {
    background-color: #d7e4d4;
    border-radius: 15px;
    display: inline-block;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    height: 385px;
    width: 250px;
    margin: 15px 5px;
    padding: 5px 5px;
    vertical-align: top;
    img {
        border-radius: 7px;
        margin: 10px auto;
        max-width: 90%;
        max-height: 90%;
        display: block;
    }
}

.box {
    background-color: #d7e4d4;
    border: 2px solid black;
    border-radius: 15px;
    display: block;
    justify-content: flex-end;
    grid-template-columns: repeat(8, 1fr);
    height: auto;
    width: 100%;
    margin: 15px 5px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.349);
}

.img-container {
    width: 245px;
    height: 170px;
    padding: auto;
}

.product-container:hover {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #dee7da;
    // border: 1.5px solid black;
}

.button {
    height: 40px;
    width: 150;
    margin: 10px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #dbc0ac;
}

.button:hover {
    background-color: #dfcbbc;
    
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

.button:active {
    scale: 0.95;
    transition: 0.1s ease;
    background-color: rgb(211, 228, 207);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
