<app-header></app-header>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef> Order id </th>
      <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="customerMail">
      <th mat-header-cell *matHeaderCellDef> Mail </th>
      <td mat-cell *matCellDef="let element"> {{element.customerMail}} </td>
    </ng-container>
  
    <ng-container matColumnDef="deliveryAddress">
      <th mat-header-cell *matHeaderCellDef> Adresse de livraison </th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryAddress}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Cart">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element">@for (products of element.cart; track products.id) { {{products.id}} } </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.price | number: "1.0-2"}} € </td>
      </ng-container>

      <ng-container matColumnDef="deliveryOption">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.deliveryOption}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
