<h2 mat-dialog-title class="dialog-login-title">Connexion</h2>
<mat-dialog-content class="dialog-login-content">
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <fieldset>
            <div class="login-dialog-inputs">
                <div>
                    <mat-form-field class="login-input">
                        <mat-label>Email utilisateur</mat-label>
                        <input matInput formControlName="userEmail">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="login-input">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput type="password" formControlName="userPassword">
                    </mat-form-field>
                </div>
            </div>
    
            <mat-dialog-actions class="login-dialog-buttons">
        
            <div class="right-login-dialog-buttons">
                <button class="login-button" mat-raised-button type="submit" mat-dialog-close>Se connecter</button>
                <button mat-raised-button mat-dialog-close>Close</button>
            </div>
            <button mat-button class="forget-password">Mot de passe oublié?</button>
            </mat-dialog-actions>
        </fieldset>
    </form>